<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FORM</title>
</head>
<body>
    <form method="post" th:action="${todo != null and todo.id != null}
                      ? @{/api/todos/{id}(id=${todo.id})}
                      : @{/api/todos}">
        <label for="title" style="display: block; padding-bottom: 5px">
            Title
            <input name="title" id="title" th:value="${todo?.title}">
        </label>

        <label for="description" style="display: block; padding-bottom: 5px">
            Description
            <textarea name="description" id="description" th:text="${todo?.description}"></textarea>
        </label>

        <label for="completed" style="display: block; padding-bottom: 5px">
            Is it completed?
            <input type="checkbox" name="completed" id="completed" th:checked="${todo?.completed}">
        </label>

        <button type="submit">Save Todo</button>
    </form>
</body>
</html>