<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO</title>
</head>
<body>

    <h1>My Todo List</h1>

    <div>
        <a th:href="@{'/api/todos/add'}">
            <button type="button">Add Todo</button>
        </a>
    </div>
    
    <div th:each="todo : ${todos}">
        <h2 th:text="${todo.title}"></h2>
        <p th:text="${todo.description}"></p>
        <p th:text="${todo.completed}"></p>
        <form th:action="@{'/api/todos/{id}/edit' (id=${todo.id})}" method="get">
            <button type="submit">Edit</button>
        </form>
        <form th:action="@{'/api/todos/{id}/delete' (id=${todo.id})}" method="post" >
            <button type="submit">Delete</button>
        </form>
    </div>
</body>
</html>